#blog ul {
  display: grid;
  padding: 0px;
  grid-template-columns: repeat(2, 350px);
  gap: 64px;
  width: fit-content;
  margin: auto;
}

#blog .view-more-button-container {
  padding: 16px;
  display: flex;
  flex-direction: row-reverse;
}

.article-card {
  list-style: none;
  height: 220px;
  overflow: hidden;
}

.article-card img {
  width: 128px;
  height: 128px;
}

.article-card a {
  text-decoration: black;
  color: black;
  height: 100%;
  display: block;
}

.article-container {
  display: flex;
  width: 350px;
  height: 100%;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.article-container:hover {
  background-color: var(--black-fade);
}
.article-container:active {
  background-color: var(--black-fade-active);
}

.article-card .article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.article-card h4 {
  font-size: 21px;
  font-weight: 700;
  margin: 0px;
}

.article-card h6 {
  margin: 0px;
}
.article-card p {
  font-size: 14px;
  margin: 0px;
}
