main {
  margin: 0px;
}

#landing {
  background-color: #ffea7d;
  padding: 32px;
  height: 600px;
  position: relative;
  margin: auto;
}

#landing h1 {
  font-size: 32px;
  width: fit-content;
  margin: auto;
  margin-top: 200px;
  font-weight: 700;
}

.landing-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
}

.skills-grid {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(10, 64px);
  gap: 8px;
}

.skill-item {
  list-style: none;
}
.skill-section {
  & + & {
    margin-top: 18px;
  }
}

.skill-section h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.section h2 {
  width: fit-content;
  margin: auto;
  font-size: 32px;
}

.section {
  padding: 0px 16px;
  margin-top: 64px;
  max-width: 800px;
  margin: auto;
}

.section + .section {
  margin-top: 64px;
}

#aboutme {
  margin-top: 128px;
}

#aboutme-name-icon {
  display: flex;
  gap: 32px;
  align-items: center;
}

#aboutme h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 12px;
}

#other-media-icons {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 8px;
}

#other-media-icons li {
  list-style: none;
}

#aboutme #aboutme-name-others {
  height: fit-content;
}
#aboutme #aboutme-sippo-icon {
  width: 150px;
  height: 150px;
}
#aboutme p {
  margin: 8px;
  font-weight: 400;
  font-size: 20px;
}

#aboutme content {
  margin-top: 8px;
}

.workcard {
  & + & {
    margin-top: 24px;
  }
  list-style: none;
}

.workcard .workcard-main {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 8px;
}
.workcard .workcard-links {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  list-style: none;
  align-items: center;
}

.workcard p {
  margin: 4px;
}

.workcard .workicon {
  width: 128px;
  height: 128px;
}

.workcard h4 {
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
}
.workcard p {
  white-space: pre-wrap;
}
