body {
  margin: 8px;
}
#page-container {
  margin: auto;
  margin-bottom: 128px;
}

:root {
  --black: rbg(230 230 230);
  --black-fade: rgb(0 0 0 / 0.05);
  --black-fade-active: rgb(0 0 0 / 0.1);
}
